
#mapid {
  width: 800px; 
  height: 600px;
  display: inline-block;
  box-shadow: 5px 5px 10px;
  box-shadow: grey;
}

  @media screen and (max-width: 1560px) {
    #mapid {
        width: 450px; 
        height: 450px;
    }
  }
  
  
  @media screen and (max-width: 767px) {
      #mapid {
        width: 300px; 
        height: 300px;
        box-shadow: none;
    }
  }