body {
  margin: 0;
  padding:0;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0C8054 !important;
  min-height: 100vh;
}
#main{ height: 95vh;}

#contentFrame{
  position: relative;
  top: 5rem;
}
#spacer{
  height: 6.5rem;
  width: 100%;
}
.btn-green{
  background-color: #004241 !important;
  color: white !important;
}

input[type=text]{
  width: 4rem;
}
