body {
  position: relative;
  margin: 0 auto;
  padding: 0;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #0C8054 !important;
  min-height: 100vh;
}
#main{ 
  height: 100vh;
  width: 100%;
  flex:1;
}
#textContent{
  color: rgb(12, 55, 90);
  display: inline-block;
  padding: 10px;
  text-align:center;
}
#contentFrame{
  position: relative;
  top: 5rem;
}
.btn-green{
  background-color: #004241 !important;
  color: white !important;
}

input[type=text]{
  width: 4rem;
}
img {
  max-width: 100%;
  max-height: 100%;
}